<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!DOCTYPE html>
<html>
  <head>
    <title>EventbriteProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>    
    <div>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
          <a class="navbar-brand" href="/">Eventbite</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link"><%= link_to "Créer un event", new_event_path, method: :get, :class => "btn" %></a>
          </li>
     </div>

    <%if user_signed_in? %>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Se déconnecter/Mon profil
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li class="nav-item">
          <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='users/show'>Mon profil <span class="sr-only">(current)</span></a>
          </li>
        </div>
      </div>
      </ul>
      <%else%>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">S'inscrire/Se connecter
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li class="nav-item">
              <%= link_to "Se connecter", new_user_session_path %>
            </li>
            <li class="nav-item">
            <%= link_to "S'inscrire", new_user_registration_path %>
            </li>
          </div>
        </div>
      <%end%>
    </div>
    </nav>
    <%= yield %>
  </body>
</html>
